<section id="all_users">
    <h1>This a list of all users</h1>
    <div>
        <% @users.each do |user| %>
            <div class="short_user">
                <div class="profile_image">
                    <img src="<%= user.photo =%>">
                </div>
                <div class="short_bio">
                    <h2><%= link_to "#{user.name}", user_path(user.id)%></h2>
                    <p>Number of Posts  <small><%= user.posts_counter %></small></p>
                </div>
            </div>
        <% end %>
    </div>
</section>