<section id="single_user">
    <%= render 'user' %>
    <p id="bio">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum excepturi corporis doloremque eum sint itaque ex dignissimos dolorem quasi quam vitae nobis eligendi, a explicabo, non eaque ducimus illum. Necessitatibus ipsum libero, rerum praesentium ad, aliquid rem suscipit doloremque quam itaque sed nemo illum officia. Explicabo pariatur nostrum quas voluptatibus.</p>
    <div id="user_posts">
        <% 3.times do %>
            <%= render 'posts/post'%>
        <% end %>
    </div>
   <button>See All Posts</button>
</section>