<div class="post_preview">
    <%# <h4>Post #</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur animi id, dolore magni ipsa, magnam beatae dolor aliquam minus temporibus eius, sit quos nisi incidunt autem nobis iusto. Explicabo, eaque!</p> %>
    <p><%= post.text%></p>
    <small>Comments x, likes y</small>
</div>