<section id="single_post">
    <div id="description">
        <div id="top">
            <h4>Post by user</h4>
            <small>Comments x, likes y</small>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea explicabo cum, qui fuga eaque delectus eum ipsa praesentium ab odio nihil dolorum ut, accusamus porro est tempora repudiandae rerum dignissimos exercitationem nisi laborum! Veniam expedita officia dignissimos deserunt laudantium dolore hic aperiam veritatis consectetur inventore quasi ullam repellendus neque commodi nesciunt culpa, modi quidem, quae voluptatem? Officiis, repudiandae libero eligendi illum, mollitia nam rerum aperiam sapiente quia vel, praesentium recusandae unde? Cupiditate esse dolores voluptates amet maiores iusto dolorum laboriosam magni eius officia a eaque ex, earum molestiae. Eaque animi est nam itaque deserunt architecto temporibus pariatur, suscipit autem soluta similique voluptatum modi delectus, tempora placeat rerum. Reprehenderit accusantium eveniet laboriosam ex eius et, illum, voluptates doloribus praesentium sint incidunt deleniti! Sunt at est tempora molestiae corporis consequuntur iste quasi tenetur animi itaque rerum ex, explicabo voluptatum perferendis recusandae expedita tempore omnis voluptates aliquid nihil sint earum minus, ducimus ipsum. Aperiam impedit quam provident inventore earum mollitia vel culpa repellat, quo dignissimos doloribus dolorem alias itaque aliquid, cum accusamus sit. Tempore eligendi porro inventore. Voluptatum adipisci maxime incidunt iure quidem officiis, dolorum itaque quas autem omnis placeat repellendus tenetur, ipsa assumenda reiciendis aut quo libero distinctio nesciunt! Quisquam, doloremque vitae.</p>
    </div>
    <div id="post_comments">
        <% 10.times do %>
            <%= render 'comment' %>
        <% end %>
    </div>
</section>