<section id="single_post">
    <div id="description">
        <div id="top">
            <h4>Post by user</h4>
            <small>Comments x, likes y</small>
        </div>
       <%= @post.title %>
       <%= @post.text%>
    </div>
    <div id="post_comments">
        <% 10.times do %>
            <%= render 'comment' %>
        <% end %>
    </div>
</section>